* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--darker-green);
}

:root {
  --main-orange: #F8714A;
  --main-yellow: #FFEF9D;
  --darker-green: #233627;
  --darker-green-trans: rgba(35, 54, 39, .9);
  --even-darker-green: #1d2e21;
  --light-green: #65836d;
  --black: #111410;
  --ctaBlue: #A3D9FF;
  --ctaBlue-hover: #82bfea;
}

body {
  background-image: url("/images/shapes_bg.svg");
  background-size: cover;
  background-repeat: repeat;
  background-color: #304c37;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

li {
  list-style-type: none;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  font-size: 5rem;
  line-height: 5rem;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
}

h3 {
  font-family: 'Work Sans', sans-serif;
  font-size: 4rem;
  font-weight: 600;
}

h4 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

h5 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

h6 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

input[type="text"] {
  font-size: 1rem;
  color: var(--main-yellow);
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: .5rem 1rem .5rem 1rem;
}

input[type="text"]::-webkit-input-placeholder {
  color: #65836d;
}

input[type="text"]:-ms-input-placeholder {
  color: #65836d;
}

input[type="text"]::-ms-input-placeholder {
  color: #65836d;
}

input[type="text"]::placeholder {
  color: #65836d;
}

input[type="text"]:focus {
  outline: none;
}

.wholePage {
  width: 100vw;
  height: 100vh;
  max-width: 1960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.headerBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 2rem 1rem 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navItemList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--main-orange);
}

.navItemList li {
  padding: 0rem 0rem 0rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navItemOther {
  color: var(--main-orange);
}

.navItemCurrent {
  color: var(--main-yellow);
  font-weight: 600;
  border-bottom: 1px solid var(--main-yellow);
}

.mobileMenu {
  display: none;
}

#mobileMenuContainer {
  opacity: 0;
  position: absolute;
  right: 2rem;
  top: 4rem;
  background-color: var(--darker-green-trans);
  color: var(--main-orange);
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  padding: 1rem;
  border-radius: .5rem;
  min-width: 200px;
  width: auto;
}

#mobileMenuContainer li {
  padding: 0rem 0rem .5rem 0rem;
}

.heroSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2rem;
  -ms-flex-preferred-size: 2;
      flex-basis: 2;
}

.heroContent {
  width: 50vw;
  min-width: 300px;
  margin-top: -3rem;
}

.heroImg {
  width: 50vw;
  min-width: 300px;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.heroImg img {
  width: 100%;
  max-width: 740px;
}

.whisper {
  text-align: center;
  padding: 0rem 0rem .5rem 0rem;
  right: 0;
  color: var(--light-green);
  margin-bottom: 1rem;
  font-family: 'BioRhyme', serif;
  font-weight: 800;
}

.pageLede {
  font-family: 'Work Sans', sans-serif;
  padding: 0rem 0rem 2rem 0rem;
  margin-left: -3rem;
  font-weight: 900;
  font-size: 16vw;
  line-height: 12vw;
  color: white;
}

.signature {
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  text-align: center;
  width: 70%;
  color: var(--main-yellow);
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

.sectionImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -12vw;
}

.sectionImage img {
  width: 50vw;
  min-width: 300px;
  max-width: 800px;
}

.sectionTitle {
  color: white;
  margin-left: -1rem;
  font-size: 10vw;
}

.sectionProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid var(--light-green);
  border-bottom: 0.5rem solid var(--light-green);
  border-radius: .5rem;
  padding: 1rem;
  margin: 1rem 1rem 2rem 1rem;
}

.aboutTheProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0rem 2rem 0rem;
}

.projectInfo {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.drawAttention {
  width: .5rem;
  height: auto;
  background-color: var(--darker-green-trans);
  margin: 0rem 1rem 0rem 0rem;
  border-radius: 1rem;
}

.companyLogo {
  padding: 0rem 0rem 1rem 0rem;
}

.projectTitle {
  color: white;
  font-size: 2rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  max-width: 500px;
  padding: 0rem 0rem .5rem 0rem;
}

.projectDescription {
  color: var(--main-yellow);
  font-size: 1rem;
  font-family: 'work sans', sans-serif;
  font-weight: 300;
  width: auto;
  max-width: 600px;
  padding: 0rem 0rem 1rem 0rem;
}

.ctas {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.ctaBtnMain {
  cursor: pointer;
  padding: 1rem;
  width: auto;
  margin-right: 1rem;
  background-color: var(--ctaBlue);
  color: var(--darker-green);
  border-radius: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: 'work sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.ctaBtnMain a {
  text-decoration: none;
  color: var(--darker-green);
}

.ctaBtnMain:hover {
  cursor: pointer;
  padding: 1rem;
  width: auto;
  margin-right: 1rem;
  background-color: var(--ctaBlue-hover);
  color: var(--darker-green);
  border-radius: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: 'work sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.ctaBtnMain:hover a {
  text-decoration: none;
  color: var(--darker-green);
}

.ctaBtnSec {
  cursor: pointer;
  padding: 1rem;
  width: auto;
  color: var(--ctaBlue);
  border: 2px solid var(--ctaBlue);
  border-radius: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: 'work sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.ctaBtnSec a {
  text-decoration: none;
  color: var(--ctaBlue);
}

.ctaBtnSec:hover {
  cursor: pointer;
  padding: 1rem;
  width: auto;
  background-color: var(--darker-green);
  color: var(--light-green);
  border: 2px solid var(--ctaBlue-hover);
  border-radius: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: 'work sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.ctaBtnSec:hover a {
  text-decoration: none;
  color: var(--ctaBlue-hover);
}

.ctaBtn {
  cursor: default;
  padding: 1rem;
  width: 200px;
  background-color: var(--light-green);
  color: var(--darker-green);
  border-radius: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: 'work sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.highlight {
  border-radius: .5rem;
  height: auto;
  padding: 2rem;
  max-width: 240px;
  z-index: 1000;
  background-color: var(--darker-green-trans);
  margin-left: auto;
  margin-top: 2rem;
}

.highlightDescription {
  font-family: 'work sans', sans-serif;
  color: var(--main-yellow);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.projectVisuals {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10px, max-content))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(10px, -webkit-max-content));
      grid-template-columns: repeat(auto-fit, minmax(10px, max-content));
}

#jackHealthImg1 {
  display: none;
}

.projectImgMain {
  width: auto;
  height: auto;
}

.projectImgMain img {
  width: 70vw;
  max-width: 1200px;
}

.projectImgSec {
  width: auto;
  height: auto;
  margin-left: 8rem;
  margin-top: -4rem;
}

.projectImgSec img {
  width: 40vw;
  max-width: 800px;
}

.projectImgThird {
  width: auto;
  height: auto;
  margin-top: 14rem;
  margin-left: -10rem;
}

.projectImgThird img {
  width: 40vw;
  max-width: 800px;
}

#gladlySlideshow {
  display: none;
}

.subPageLede {
  color: white;
  text-transform: uppercase;
}

#tempReading {
  background-color: #65836d;
  color: var(--main-orange);
  height: 24px;
}

#dateReading {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: var(--main-orange);
}

.weatherInputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  background-color: #83bb92;
}

.weatherInputs2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  min-width: 320px;
}

.outfitSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50vw;
  height: 60vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.outfitSection h4 {
  text-align: center;
  color: var(--main-orange);
}

.outfitSection h5 {
  font-weight: 100;
  text-align: center;
  color: var(--main-yellow);
}

.outfitSection h6 {
  text-align: center;
  color: var(--main-yellow);
}

#outfit1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0rem 1vw 0rem 1vw;
}

#outfit2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0rem 1vw 0rem 1vw;
}

#outfit3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0rem 1vw 0rem 1vw;
}

.outfitImg {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.outfitImg img {
  width: 10vw;
  max-width: 160px;
  min-width: 100px;
  min-height: 300px;
}

.temperature {
  margin-top: .5rem;
}

.buttonControls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  margin-left: auto;
  padding: 1rem;
}

.shuffleBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4rem;
  background-color: var(--ctaBlue);
  margin: .5rem;
}

.shuffleBtnDisabled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4rem;
  background-color: rgba(29, 46, 33, 0.25);
  margin: .5rem;
}

.saveBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 3rem;
  margin: .5rem;
}

.shuffleBtn:hover {
  cursor: pointer;
  -webkit-transition: 80ms;
  transition: 80ms;
  background-color: var(--ctaBlue-hover);
}

.shuffleBtnIcon :hover {
  cursor: pointer;
}

.saveBtn:hover {
  cursor: pointer;
  background-color: var(--darker-green);
  -webkit-transition: 80ms;
  transition: 80ms;
}

.saveBtn:hover img {
  opacity: .8;
}

.footerSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4rem;
  padding: 4rem 2rem;
  background-color: var(--darker-green);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weatherStatementFtr h5 {
  font-weight: 100;
  color: var(--main-yellow);
}

.footerImg {
  margin-left: auto;
}

.ctaBtnMain1Col {
  cursor: pointer;
  width: 100%;
  padding: 1rem 0rem 1rem 0rem;
  margin-right: 1rem;
  background-color: var(--ctaBlue);
  color: var(--darker-green);
  border-radius: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: 'work sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.ctaBtnMain1Col a {
  text-decoration: none;
  color: var(--darker-green);
}

.ctaBtnMain1Col:hover {
  cursor: pointer;
  width: 100%;
  padding: 1rem 0rem 1rem 0rem;
  margin-right: 1rem;
  background-color: var(--ctaBlue-hover);
  color: var(--darker-green);
  border-radius: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: 'work sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.ctaBtnMain1Col:hover a {
  text-decoration: none;
  color: var(--darker-green);
}

.locationInputs {
  margin: 4rem 0rem 1rem 0rem;
}

.inputIconDiv {
  padding: .5rem;
  border-radius: 0rem .5rem .5rem 0rem;
}

.inputIconDiv:hover {
  background-color: var(--even-darker-green);
  cursor: pointer;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.relevantDateLine {
  color: black;
}

.relevantDateLine2 {
  color: var(--main-orange);
  max-width: 500px;
  padding: 0rem 0rem 1rem 0rem;
}

.weatherDateRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showTime {
  color: var(--main-yellow);
  font-family: 'work sans', sans-serif;
  color: var(--main-yellow);
  font-size: 1.5rem;
  font-weight: 300;
}

.whereYouTitle {
  color: var(--main-yellow);
}

.pac-container {
  background-color: var(--darker-green);
  border-radius: 0rem 0rem 1rem 1rem;
  padding: 1rem;
  border: none;
}

.pac-container hr {
  color: black;
  background-color: black;
  border: 1px solid black;
}

.pac-container:after {
  content: none !important;
}

.pac-item-query {
  color: var(--main-yellow);
  font-size: 1rem;
}

.pac-item {
  color: var(--light-green);
  border-top: 1px solid var(--even-darker-green);
  font-size: 1rem;
}

.pac-item:hover {
  background-color: var(--even-darker-green);
  border: none;
  cursor: pointer;
}

.textInputWithIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  height: auto;
  background-color: var(--darker-green);
  border-radius: .5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0rem 1rem 0rem;
}

.textInputWithIcon input {
  width: 100%;
}

.inputIcon {
  margin-left: auto;
}

#stockSearchBar {
  width: 30vw;
  height: 2rem;
  background-color: #65836d;
}

#phTestText {
  display: block;
  margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
  p {
    margin: 0;
  }
  .wholePage {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .headerBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem 2rem 1rem 2rem;
  }
  .mobileMenu {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobileNavContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .logo {
    left: 0;
  }
  .navItems {
    display: none;
  }
  .heroSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 2rem;
    -ms-flex-preferred-size: 1;
        flex-basis: 1;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .heroContent {
    width: 100vw;
    margin-bottom: 2rem;
  }
  .heroImg {
    width: 50vw;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .heroImg img {
    width: 100%;
    max-width: 740px;
  }
  .whisper {
    color: var(--light-green);
    width: auto;
  }
  .pageLede {
    font-family: 'Work Sans', sans-serif;
    padding: 0rem 0rem 2rem 0rem;
    margin-left: -3rem;
    font-weight: 900;
    font-size: 30vw;
    line-height: 22vw;
    color: white;
  }
  .signature {
    color: var(--main-yellow);
    width: 80%;
  }
  .sectionImage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -2rem;
  }
  .sectionImage img {
    width: 100vw;
    min-width: 300px;
  }
  .sectionTitle {
    color: white;
    margin-left: 0rem;
    font-size: 18vw;
  }
  .aboutTheProject {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 1rem 0rem 2rem 0rem;
  }
  .drawAttention {
    width: .5rem;
    height: auto;
    background-color: var(--darker-green-trans);
    margin: 0rem 1rem 0rem 0rem;
    border-radius: 1rem;
  }
  .projectTitle {
    color: white;
    font-size: 2rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    max-width: 500px;
    padding: 0rem 0rem .5rem 0rem;
  }
  .projectDescription {
    color: var(--main-yellow);
    font-size: 1rem;
    font-family: 'work sans', sans-serif;
    font-weight: 300;
    width: auto;
    max-width: 500px;
    padding: 0rem 0rem 1rem 0rem;
  }
  .ctaBtnMain {
    cursor: pointer;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 1rem;
    width: auto;
    margin-right: 1rem;
    background-color: var(--ctaBlue);
    color: var(--darker-green);
    border-radius: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-family: 'work sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
  }
  .ctaBtnMain a {
    text-decoration: none;
    color: var(--darker-green);
  }
  .ctaBtnMain:hover {
    cursor: pointer;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 1rem;
    width: auto;
    margin-right: 1rem;
    background-color: var(--ctaBlue-hover);
    color: var(--darker-green);
    border-radius: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-family: 'work sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    -webkit-transition: 200ms;
    transition: 200ms;
  }
  .ctaBtnMain:hover a {
    text-decoration: none;
    color: var(--darker-green);
  }
  .ctaBtnSec {
    cursor: pointer;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 1rem;
    width: auto;
    color: var(--ctaBlue);
    border: 2px solid var(--ctaBlue);
    border-radius: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-family: 'work sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
  }
  .ctaBtnSec a {
    text-decoration: none;
    color: var(--ctaBlue);
  }
  .ctaBtnSec:hover {
    cursor: pointer;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 1rem;
    width: auto;
    background-color: var(--darker-green);
    color: var(--ctaBlue);
    border: 2px solid var(--ctaBlue-hover);
    border-radius: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-family: 'work sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
  }
  .ctaBtnSec:hover a {
    text-decoration: none;
    color: var(--ctaBlue-hover);
  }
  .ctaBtn {
    cursor: default;
    padding: 1rem;
    width: 200px;
    background-color: var(--light-green);
    color: var(--darker-green);
    border-radius: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-family: 'work sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
  }
  .highlight {
    -ms-flex-preferred-size: 1;
        flex-basis: 1;
    border-radius: .5rem;
    height: auto;
    padding: 2rem;
    width: 100%;
    max-width: 100%;
    background-color: var(--darker-green-trans);
    margin: 2rem 0rem 0rem 0rem;
  }
  .projectVisuals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #jackHealthImg1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: auto;
  }
  #jackHealthImg1 img {
    width: 100%;
  }
  .projectImgMain {
    display: none;
    width: auto;
    height: auto;
  }
  .projectImgMain img {
    width: 100%;
  }
  .projectImgSec {
    display: none;
    width: auto;
    height: auto;
    margin-left: 0rem;
    margin-top: 0rem;
  }
  .projectImgSec img {
    width: 40vw;
  }
  .projectImgThird {
    display: none;
    width: auto;
    height: auto;
    margin-top: 0rem;
    margin-left: 0rem;
  }
  .projectImgThird img {
    width: 40vw;
  }
  #gladlySlideshow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
  }
  #gladlySlideshow img {
    width: 100%;
  }
  .weatherInputs2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    min-width: 320px;
  }
  .outfitSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80vw;
    height: 45vh;
    min-height: 400px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 4rem;
  }
  .outfitSection h4 {
    text-align: center;
    color: var(--main-orange);
  }
  .outfitSection h5 {
    font-weight: 100;
    text-align: center;
    color: var(--main-yellow);
  }
  .outfitSection h6 {
    text-align: center;
    color: var(--main-yellow);
  }
  #outfit1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 0rem 1vw 0rem 1vw;
  }
  #outfit2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 0rem 1vw 0rem 1vw;
  }
  #outfit3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 0rem 1vw 0rem 1vw;
  }
  .outfitImg {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1rem;
  }
  .outfitImg img {
    width: 10vw;
    max-width: 160px;
    min-width: 100px;
    min-height: 300px;
  }
  .buttonControls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    padding: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 1920px) {
  .pageLede {
    font-family: 'Work Sans', sans-serif;
    padding: 0rem 0rem 2rem 0rem;
    margin-left: -3rem;
    font-weight: 900;
    font-size: 20rem;
    line-height: 14rem;
    color: white;
  }
  .sectionImage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -12rem;
  }
  .sectionImage img {
    width: 50vw;
    min-width: 300px;
    max-width: 1200px;
  }
  .sectionTitle {
    color: white;
    margin-left: -1rem;
    font-size: 8vw;
  }
}
/*# sourceMappingURL=styles.css.map */