* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--darker-green);
}

//global colors!!! :)
:root {
    --main-orange: #F8714A;
    --main-yellow: #FFEF9D;
    --darker-green: #233627;
    --darker-green-trans: rgba(35, 54, 39, .9);
    --even-darker-green: #1d2e21;
    --light-green: #65836d;
    --black: #111410;
    --ctaBlue: #A3D9FF;
    --ctaBlue-hover: #82bfea;
}

body {
    background-image: url("/images/shapes_bg.svg");
    background-size: cover;
    background-repeat: repeat;
    background-color: #304c37;
    display: flex;
    justify-content: center;
}

li {
    list-style-type: none;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 5rem;
    line-height: 5rem;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    //font-size: 10vw;
}

h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 4rem;
    font-weight: 600;
}

h4 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

h5 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

h6 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

input[type="text"] {
    font-size: 1rem;
    color: var(--main-yellow);
    border:none;
    background-image:none;
    background-color:transparent;
    box-shadow: none;
    padding: .5rem 1rem .5rem 1rem;
    &::placeholder {
        color: #65836d;
    }
    &:focus {
        outline: none;
    }
}

button {
    all: unset;
}

.wholePage {
    width: 100vw;
    height: 100vh;
    max-width: 1960px;
    display: flex;
    //align-items: center;
    //justify-content: center;
    flex-direction: column;
}

//nav
.headerBar {
    display: flex;
    padding: 1rem 2rem 1rem 2rem;
    align-items: center;
    justify-content: left;
}

.logo {
    align-items: center;
}

.navItems {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

.navItemList {
    display: flex;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    color: var(--main-orange);
    li {
        padding: 0rem 0rem 0rem 2rem;
        display: flex;
        align-items: center;
    justify-content: center;
    }
}

.navItemOther {
    color: var(--main-orange);
}

.navItemCurrent {
    color: var(--main-yellow);
    font-weight: 600;
    border-bottom: 1px solid var(--main-yellow);
}

.mobileMenu {
    display: none;
}

#mobileMenuContainer {
    //display: none;
    opacity: 0;
    
    position: absolute;
    right: 2rem;
    top: 4rem;
    background-color: var(--darker-green-trans);
    color: var(--main-orange);
    font-family: 'Work Sans', sans-serif;;
    font-weight: 600;
    padding: 1rem;
    border-radius: .5rem;
    min-width: 200px;
    width: auto;
        li {
            padding: 0rem 0rem .5rem 0rem;
        }
}

// 🛑🛑🛑 nav content end ☝️ 🛑🛑🛑

.heroSection {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    flex-basis: 2;
    //flex-wrap: wrap;
}

.heroContent {
    width: 50vw;
    min-width: 300px;
    margin-top: -3rem;
    //background-color: rgba($color: #c44949, $alpha: 0.4);
    //flex: 50%;
}

.heroImg {
    width: 50vw;
    min-width: 300px;
    flex: 50%;
    //background-color: rgba($color: #f1f147, $alpha: 0.2);
    img {
        width: 100%;
        max-width: 740px;
    }
}

.whisper {
    text-align: center;
    padding: 0rem 0rem .5rem 0rem;
    right: 0;
    color: var(--light-green);
    margin-bottom: 1rem;
    font-family: 'BioRhyme', serif;
    font-weight: 800;
}

.pageLede {
    font-family: 'Work Sans', sans-serif;
    padding: 0rem 0rem 2rem 0rem;
    margin-left: -3rem;
    font-weight: 900;
    font-size: 16vw;
    line-height: 12vw;
    color: white;
}

.signature {
    align-items: right;
    text-align: center;
    width: 70%;
    color: var(--main-yellow);
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

// 🛑🛑🛑 header section end ☝️ 🛑🛑🛑

.sectionImage {
    display: flex;
    margin-top: -12vw;
    img {
        width: 50vw;
        min-width: 300px;
        max-width: 800px;
    }
}

.sectionTitle {
    color: white;
    margin-left: -1rem;
    font-size: 10vw;
}

.sectionProject {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--light-green);
    border-bottom: .5rem solid var(--light-green);
    border-radius: .5rem;
    padding: 1rem;
    margin: 1rem 1rem 2rem 1rem;
}

.aboutTheProject {
    display: flex;
    //flex-wrap: wrap;
    padding: 1rem 0rem 2rem 0rem;
}

.projectInfo {
    align-items: flex-start;
}

.drawAttention {
    width: .5rem;
    height: auto;
    background-color: var(--darker-green-trans);
    margin: 0rem 1rem 0rem 0rem;
    border-radius: 1rem;
}

.companyLogo {
    padding: 0rem 0rem 1rem 0rem;
}

.projectTitle {
    color: white;
    font-size: 2rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    max-width: 500px;
    padding: 0rem 0rem .5rem 0rem;
}

.projectDescription {
    color: var(--main-yellow);
    font-size: 1rem;
    font-family: 'work sans', sans-serif;
    font-weight: 300;
    width: auto;
    max-width: 600px;
    padding: 0rem 0rem 1rem 0rem;
}

.ctas {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.ctaBtnMain {
    cursor:pointer;
    padding: 1rem;
    width: auto;
    margin-right: 1rem;
    background-color: var(--ctaBlue);
    color: var(--darker-green);
    border-radius: 2rem;
    justify-content: center;
    text-align: center;
    font-family: 'work sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    a {
        text-decoration: none;
        color: var(--darker-green);
    }
}
.ctaBtnMain:hover {
    cursor:pointer;
    padding: 1rem;
    width: auto;
    margin-right: 1rem;
    background-color: var(--ctaBlue-hover);
    color: var(--darker-green);
    border-radius: 2rem;
    justify-content: center;
    text-align: center;
    font-family: 'work sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    transition: 200ms;
    a {
        text-decoration: none;
        color: var(--darker-green);
    }
}

.ctaBtnSec {
    cursor:pointer;
    padding: 1rem;
    width: auto;
    //background-color: var(--ctaBlue);
    color: var(--ctaBlue);
    border: 2px solid var(--ctaBlue);
    border-radius: 2rem;
    justify-content: center;
    text-align: center;
    font-family: 'work sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    a {
        text-decoration: none;
        color: var(--ctaBlue);
    }
}
.ctaBtnSec:hover {
    cursor:pointer;
    padding: 1rem;
    width: auto;
    background-color: var(--darker-green);
    color: var(--light-green);
    border: 2px solid var(--ctaBlue-hover);
    border-radius: 2rem;
    justify-content: center;
    text-align: center;
    font-family: 'work sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    a {
        text-decoration: none;
        color: var(--ctaBlue-hover);
    }
}

.ctaBtn {
    cursor:default;
    padding: 1rem;
    width: 200px;
    background-color: var(--light-green);
    color: var(--darker-green);
    border-radius: 2rem;
    justify-content: center;
    text-align: center;
    font-family: 'work sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.highlight {
    //flex-basis: 1;
    border-radius: .5rem;
    height: auto;
    padding: 2rem;
    max-width: 240px;
    z-index: 1000;
    background-color: var(--darker-green-trans);
    margin-left: auto;
    margin-top: 2rem;
}

.highlightDescription {
    font-family: 'work sans', sans-serif;
    color: var(--main-yellow);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    //margin-top: -1rem;
}

//images
.projectVisuals {
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(10px, max-content)); 
}

#jackHealthImg1 {
    display: none;
}

.projectImgMain {
    width: auto;
    height: auto;
    img {
        width: 70vw;
        max-width: 1200px;
    }
}
.projectImgSec {
    width: auto;
    height: auto;
    margin-left: 8rem;
    margin-top: -4rem;
    img {
        width: 40vw;
        max-width: 800px;
    }
}
.projectImgThird {
    width: auto;
    height: auto;
    margin-top: 14rem;
    margin-left: -10rem;
    img {
        width: 40vw;
        max-width: 800px;
    }
}

#gladlySlideshow {
    display: none;
}

//sub-page 👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇 

.subPageLede {
    color: white;
    //margin-left: -1rem;
    text-transform: uppercase;
}
.subPageLedeCentered {
    color: white;
    //margin-left: -1rem;
    text-align: center;
    text-transform: uppercase;
}

//weather page 👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇 

#tempReading {
    background-color: #65836d;
    color: var(--main-orange);
    height: 24px;
}

#dateReading {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: var(--main-orange);
}

.weatherInputs {
    display: flex;
    flex-basis: 1;
    background-color: #83bb92;
}
.weatherInputs2 {
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
    min-width: 320px;
    //background-color: #83bb92;
}
.outfitSection {
    display: flex;
    flex-direction: row;
    width: 50vw;
    height: 60vh;
    justify-content: center;
    //min-width: 320px;
    //background-color: #83bb92;
        h4 {
            //font-weight: 100;
            text-align: center;
            color: var(--main-orange);
        }
        h5 {
            font-weight: 100;
            text-align: center;
            color: var(--main-yellow);
        }
        h6 {
            text-align: center;
            color: var(--main-yellow);
        }
}

    #outfit1 {
        display: flex;
        flex-direction: column;
        //flex-basis: 0;
        height: 100%;
        flex-grow: 1;
        padding: 0rem 1vw 0rem 1vw;
    }
    #outfit2 {
        display: flex;
        flex-direction: column;
        //flex-basis: 0;
        flex-grow: 1;
        padding: 0rem 1vw 0rem 1vw;
    }
    #outfit3 {
        display: flex;
        flex-direction: column;
        //flex-basis: 0;
        flex-grow: 1;
        padding: 0rem 1vw 0rem 1vw;
    }

    .outfitImg {
        height: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        img {
            width: 10vw;
            max-width: 160px;
            min-width: 100px;         
            min-height: 300px;
        }
    }

    .temperature {
        margin-top: .5rem;
    }


    .buttonControls {
        display: flex;
        flex-direction: column;
        width: auto;
        margin-left: auto;
        padding: 1rem;
    }

    .shuffleBtn {
        display: flex;
        border-radius: 4rem;
        background-color: var(--ctaBlue);
        margin: .5rem;
    }
    
    .shuffleBtnDisabled {
        display: flex;
        border-radius: 4rem;
        background-color: rgba($color: #1d2e21, $alpha: 0.25);
        margin: .5rem;
    }

    .saveBtn {
        display: flex;
        border-radius: 3rem;
        //border: 3px solid var(--ctaBlue);
        margin: .5rem;
    }

.shuffleBtn:hover {
    cursor: pointer;    
    transition: 80ms;
    background-color: var(--ctaBlue-hover);
}
.shuffleBtnIcon :hover {
    cursor: pointer;
}

.saveBtn:hover {
    cursor: pointer;
    background-color: var(--darker-green);
    //border: 3px solid var(--ctaBlue-hover);
    transition: 80ms;
    img {
        opacity: .8;
    }
}

.footerSection {
    display: flex;
    margin-top: 4rem;
    padding: 4rem 2rem;
    background-color: var(--darker-green);
    align-items: center;
}

.weatherStatementFtr {
    h5 {
        font-weight: 100;
        color: var(--main-yellow);
    }
}

.footerImg {
    margin-left: auto;
}

.ctaBtnMain1Col {
    cursor: pointer;
    //flex-basis: 100%;
    width: 100%;
    padding: 1rem 0rem 1rem 0rem;
    margin-right: 1rem;
    background-color: var(--ctaBlue);
    color: var(--darker-green);
    border-radius: 2rem;
    justify-content: center;
    text-align: center;
    font-family: 'work sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    a {
        text-decoration: none;
        color: var(--darker-green);
    }
}
.ctaBtnMain1Col:hover {
    cursor: pointer;
    width: 100%;
    padding: 1rem 0rem 1rem 0rem;
    margin-right: 1rem;
    background-color: var(--ctaBlue-hover);
    color: var(--darker-green);
    border-radius: 2rem;
    justify-content: center;
    text-align: center;
    font-family: 'work sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    transition: 200ms;
    a {
        text-decoration: none;
        color: var(--darker-green);
    }
}

.locationInputs {
    margin: 4rem 0rem 1rem 0rem;
}
.inputIconDiv {
    padding: .5rem;
    border-radius: 0rem .5rem .5rem 0rem;
    &:hover {
        background-color: var(--even-darker-green);
        cursor: pointer;
        transition: 200ms;
    }
}

.relevantDateLine {
    //this line is bugged...
    color: black;
}
.relevantDateLine2 {
    color: var(--main-orange);
    max-width: 500px;
    padding: 0rem 0rem 1rem 0rem;
}

.weatherDateRow {
    display: flex;
    align-items: center;
}

.showTime {
    color: var(--main-yellow);
    font-family: 'work sans', sans-serif;
    color: var(--main-yellow);
    font-size: 1.5rem;
    font-weight: 300;

}

.whereYouTitle {
    color: var(--main-yellow);
}

.pac-container {
    background-color: var(--darker-green);
    border-radius: 0rem 0rem 1rem 1rem;
    padding: 1rem;
    border: none;
    hr {
        color: black;
        background-color: black;
        border: 1px solid black;
    }
}

.pac-container:after{
    content:none !important;
}

.pac-item-query {
    color: var(--main-yellow);
    font-size: 1rem;
}

.pac-item {
    color: var(--light-green);
    border-top: 1px solid var(--even-darker-green);
    font-size: 1rem;
}

.pac-item:hover {
    background-color: var(--even-darker-green);
    border: none;
    cursor: pointer;
}

.textInputWithIcon {
    display: flex;
    flex-basis: 1;
    height: auto;
    background-color: var(--darker-green);
    border-radius: .5rem;
    align-items: center;
    margin: 1rem 0rem 1rem 0rem;
    input {
        width: 100%;
    }
}

.inputIcon {
    margin-left: auto;
}

// stocks page 👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇👇 

.searchResultCont {
    padding: .5rem 1rem .75rem 1rem;
    display: flex;
    flex-direction: row;
    /* border-bottom: 1px solid var(--darker-green); */
}
.searchResultCont:hover {
    padding: .5rem 1rem .75rem 1rem;
    display: flex;
    flex-direction: row;
    /* border-bottom: 1px solid var(--darker-green); */
    background-color: #2a4330;
    cursor: pointer;
    border-radius: .5rem;
}

.searchAndResults {
    padding: 1rem 2rem 1rem 2rem;
    margin: 2rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 80vw; */
}

.regionAndCurrency {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: right;
}

.resultLeftText {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.tickerStyle {
    font-size: 1rem;
    font-weight: 600;
    color: var(--main-yellow);
    font-family: 'work sans', sans-serif;
    text-align: left;
}

.compNameStyle {
    font-size: .8rem;
    color: var(--main-yellow);
    font-family: 'work sans', sans-serif;
}

.compPriceStyle {
    font-size: 1rem;
    font-weight: 600;
    color: var(--main-orange);
    font-family: 'work sans', sans-serif;
    text-align: left;
}

.compRegionStyle {
    font-size: 1rem;
    color: var(--main-yellow);
    font-family: 'work sans', sans-serif;
    margin-left: auto;
    padding-left: 2rem;
    text-align: right;
}

.compCurrencyStyle {
    font-size: 1rem;
    color: var(--main-yellow);
    font-family: 'work sans', sans-serif;
    padding-left: 2rem;
    text-align: right;
}

#stockSearchBar {
    width: 30vw;
    height: auto;
    background-color: #65836d;
    border-radius: .5rem;
    background-color: var(--darker-green);
    border-radius: .5rem;
    align-items: center;
    margin: 0rem 1rem 0rem 0rem;
}

#phTestText {
    display: block;
    margin-top: 1rem;
}

#testResults {
    align-items: center;
}

.searchResultStyle {
    display: flex;
    flex-direction: column;
}

.priceRightCol {
    align-items: left;
}

.searchInputs {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.stocksPageClass {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.backArrowDisabled {
    padding: 0rem .5rem 0rem .5rem;
    margin-right: 1rem;
    display: flex;
    opacity: .2;
    border-radius: .5rem;
}
.backArrowEnabled {
    padding: 0rem .5rem 0rem .5rem;
    margin-right: 1rem;
    display: flex;
    opacity: .9;
    border-radius: .5rem;
        &:hover {
            opacity: 1;
            transition: 120ms;
            cursor: pointer;
            background-color: #2a4330;
        }
}

.backArrowImg {
    align-items: center;
    width: 2rem;
}

#clickedResults {
    margin: 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
}

#clickedTicker {
    font-size: 4rem;
    color: white;
    font-family: 'work sans', sans-serif;
    font-weight: 800;
}

#clickedTickerPriceTitle {
    font-size: 1rem;
    color: var(--main-orange);
    font-family: 'work sans', sans-serif;
    font-weight: 400;
}

#clickedTickerPrice {
    font-size: 2rem;
    color: var(--main-orange);
    font-family: 'work sans', sans-serif;
    font-weight: 600;
}

.tickerSubSpecs {
    font-size: 1rem;
    color: white;
    font-family: 'work sans', sans-serif;
    font-weight: 400;
    margin: .5rem 0 0 0;
}

//JS Chart
.chartMedium
{
    max-width: 30vw;
    max-height: 30vh;
}


// 🛑🛑🛑 desktop styling ☝️ 🛑🛑🛑

// 🟩🟩🟩 mobile styling start 👇 🟩🟩🟩

@media only screen and (max-width: 600px) {
p {
    margin: 0;
}

    .wholePage {
        flex-basis: 100%;
        display: flex;
        //align-items:center;
        //justify-content: center;
    }

    .headerBar {
        display: flex;
        padding: 1rem 2rem 1rem 2rem;
        //align-items: center;
        //justify-content: center;
    }

    .mobileMenu {
      margin-left: auto;
      display: flex;
    }

    .mobileNavContainer {
        display: flex;
    }

    .logo {
        left: 0;
    }

    .navItems {
        display: none;
    }

    .heroSection {
        display: flex;
        flex-direction: row;
        padding: 2rem;
        flex-basis: 1;
        flex-wrap: wrap;
    }
    
    .heroSectionCentered {
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 2rem;
        flex-basis: 1;
        flex-wrap: wrap;
    }

    .heroContent {
        width: 100vw;
        margin-bottom: 2rem;
        //min-width: 300px;
        //background-color: rgba($color: #c44949, $alpha: 0.4);
        //flex: 50%;
    }
    
    .heroImg {
        width: 50vw;
        //min-width: 300px;
        flex: 50%;
        //background-color: rgba($color: #f1f147, $alpha: 0.2);
        img {
            width: 100%;
            max-width: 740px;
        }
    }

    .whisper {
        color: var(--light-green);
        width: auto;
    }

    .pageLede {
        font-family: 'Work Sans', sans-serif;
        padding: 0rem 0rem 2rem 0rem;
        margin-left: -3rem;
        font-weight: 900;
        font-size: 30vw;
        line-height: 22vw;
        color: white;
    }

    .signature {
        color: var(--main-yellow);
        width: 80%;
    }

    .sectionImage {
        display: flex;
        margin-top: -2rem;
        img {
            width: 100vw;
            min-width: 300px;
        }
    }

    .sectionTitle {
        color: white;
        margin-left: 0rem;
        font-size: 18vw;
    }

    .aboutTheProject {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 0rem 2rem 0rem;
    }

    .drawAttention {
        width: .5rem;
        height: auto;
        background-color: var(--darker-green-trans);
        margin: 0rem 1rem 0rem 0rem;
        border-radius: 1rem;
    }
    
    .projectTitle {
        color: white;
        font-size: 2rem;
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
        max-width: 500px;
        padding: 0rem 0rem .5rem 0rem;
    }
    
    .projectDescription {
        color: var(--main-yellow);
        font-size: 1rem;
        font-family: 'work sans', sans-serif;
        font-weight: 300;
        width: auto;
        max-width: 500px;
        padding: 0rem 0rem 1rem 0rem;
    }

    .ctaBtnMain {
        cursor: pointer;
        flex-basis: 100%;
        padding: 1rem;
        width: auto;
        margin-right: 1rem;
        background-color: var(--ctaBlue);
        color: var(--darker-green);
        border-radius: 2rem;
        justify-content: center;
        text-align: center;
        font-family: 'work sans', sans-serif;
        font-size: 1rem;
        font-weight: 600;
        border: none;
        a {
            text-decoration: none;
            color: var(--darker-green);
        }
    }
    .ctaBtnMain:hover {
        cursor: pointer;
        flex-basis: 100%;
        padding: 1rem;
        width: auto;
        margin-right: 1rem;
        background-color: var(--ctaBlue-hover);
        color: var(--darker-green);
        border-radius: 2rem;
        justify-content: center;
        text-align: center;
        font-family: 'work sans', sans-serif;
        font-size: 1rem;
        font-weight: 600;
        transition: 200ms;
        a {
            text-decoration: none;
            color: var(--darker-green);
        }
    }
    
    .ctaBtnSec {
        cursor:pointer;
        flex-basis: 100%;
        padding: 1rem;
        width: auto;
        //background-color: var(--ctaBlue);
        color: var(--ctaBlue);
        border: 2px solid var(--ctaBlue);
        border-radius: 2rem;
        justify-content: center;
        text-align: center;
        font-family: 'work sans', sans-serif;
        font-size: 1rem;
        font-weight: 600;
        a {
            text-decoration: none;
            color: var(--ctaBlue);
        }
    }
    .ctaBtnSec:hover {
        cursor:pointer;
        flex-basis: 100%;
        padding: 1rem;
        width: auto;
        background-color: var(--darker-green);
        color: var(--ctaBlue);
        border: 2px solid var(--ctaBlue-hover);
        border-radius: 2rem;
        justify-content: center;
        text-align: center;
        font-family: 'work sans', sans-serif;
        font-size: 1rem;
        font-weight: 600;
        a {
            text-decoration: none;
            color: var(--ctaBlue-hover);
        }
    }

    .ctaBtn {
        cursor:default;
        padding: 1rem;
        width: 200px;
        background-color: var(--light-green);
        color: var(--darker-green);
        border-radius: 2rem;
        justify-content: center;
        text-align: center;
        font-family: 'work sans', sans-serif;
        font-size: 1rem;
        font-weight: 600;
    }

    .highlight {
        flex-basis: 1;
        border-radius: .5rem;
        height: auto;
        padding: 2rem;
        width: 100%;
        max-width: 100%;
        //z-index: 1000;
        background-color: var(--darker-green-trans);
        margin: 2rem 0rem 0rem 0rem;
    }


    //images
.projectVisuals {
    display: flex;
}

#jackHealthImg1 {
    display: flex;
    width: auto;
    height: auto;
    img {
        width: 100%;
    }
}

.projectImgMain {
    display: none;
    width: auto;
    height: auto;
    img {
        width: 100%;
    }
}
.projectImgSec {
    display: none;
    width: auto;
    height: auto;
    margin-left: 0rem;
    margin-top: 0rem;
    img {
        width: 40vw;
    }
}
.projectImgThird {
    display: none;
    width: auto;
    height: auto;
    margin-top: 0rem;
    margin-left: 0rem;
    img {
        width: 40vw;
    }
}

#gladlySlideshow {
    display: flex;
    width: auto;
    img {
        width: 100%;
    }
}

// MOBILE WEATHER STARTS HERE // MOBILE WEATHER STARTS HERE // MOBILE WEATHER STARTS HERE

.weatherInputs2 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    min-width: 320px;
    //background-color: #83bb92;
}

.outfitSection {
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 45vh;
    min-height: 400px;
    justify-content: center;
    margin-top: 4rem;
    //min-width: 320px;
    //background-color: #83bb92;
        h4 {
            //font-weight: 100;
            text-align: center;
            color: var(--main-orange);
        }
        h5 {
            font-weight: 100;
            text-align: center;
            color: var(--main-yellow);
        }
        h6 {
            text-align: center;
            color: var(--main-yellow);
        }
}

    #outfit1 {
        display: flex;
        flex-direction: column;
        //flex-basis: 0;
        height: 100%;
        flex-grow: 1;
        padding: 0rem 1vw 0rem 1vw;
    }
    #outfit2 {
        display: flex;
        flex-direction: column;
        //flex-basis: 0;
        flex-grow: 1;
        padding: 0rem 1vw 0rem 1vw;
    }
    #outfit3 {
        display: flex;
        flex-direction: column;
        //flex-basis: 0;
        flex-grow: 1;
        padding: 0rem 1vw 0rem 1vw;
    }

    .outfitImg {
        height: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        img {
            width: 10vw;
            max-width: 160px;
            min-width: 100px;         
            min-height: 300px;
        }
    }

    .buttonControls {
        display: flex;
        flex-direction: row;
        width: 100%;
        //margin-left: auto;
        padding: 1rem;
        justify-content: center;
        margin-top: 2rem;
    }

  } // 🛑🛑🛑 mobile media query end ☝️ 🛑🛑🛑  
    
  // 🟩🟩🟩 HUGE screen styling start 👇 🟩🟩🟩

  @media only screen and (min-width: 1920px) {
    .pageLede {
        font-family: 'Work Sans', sans-serif;
        padding: 0rem 0rem 2rem 0rem;
        margin-left: -3rem;
        font-weight: 900;
        font-size: 20rem;
        line-height: 14rem;
        color: white;
    }

    .sectionImage {
        display: flex;
        margin-top: -12rem;
        img {
            width: 50vw;
            min-width: 300px;
            max-width: 1200px;
        }
    }

    .sectionTitle {
        color: white;
        margin-left: -1rem;
        font-size: 8vw;
    }

    
  }