* {
  padding: 0;
  margin: 0;
}

:root {
  --main-orange: #F8714A;
  --main-yellow: #FFEF9D;
  --darker-green: #233627;
  --darker-green-trans: rgba(35, 54, 39, .9);
  --light-green: #65836d;
}

body {
  background-image: url("/images/shapes_bg.svg");
  background-size: cover;
  background-repeat: repeat;
  background-color: #304c37;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

li {
  list-style-type: none;
}

.wholePage {
  width: 100vw;
  height: 100vh;
  max-width: 1960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.headerBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 2rem 1rem 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navItems {
  display: none;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navItemList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--main-orange);
}

.navItemList li {
  padding: 0rem 0rem 0rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobileMenu {
  display: none;
}

#mobileMenuContainer {
  opacity: 0;
  position: absolute;
  right: 2rem;
  top: 4rem;
  background-color: var(--darker-green-trans);
  color: var(--main-orange);
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  padding: 1rem;
  border-radius: .5rem;
  min-width: 200px;
  width: auto;
}

#mobileMenuContainer li {
  padding: 0rem 0rem .5rem 0rem;
}

.heroSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2rem;
  -ms-flex-preferred-size: 2;
      flex-basis: 2;
}

.heroContent {
  width: 50vw;
  min-width: 300px;
  margin-top: -3rem;
}

.heroImg {
  width: 50vw;
  min-width: 300px;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.heroImg img {
  width: 100%;
  max-width: 740px;
}

.whisper {
  text-align: center;
  padding: 0rem 0rem .5   rem 0rem;
  right: 0;
  color: var(--light-green);
  margin-bottom: 1rem;
  font-family: 'BioRhyme', serif;
  font-weight: 800;
}

.pageLede {
  font-family: 'Work Sans', sans-serif;
  padding: 0rem 0rem 2rem 0rem;
  margin-left: -3rem;
  font-weight: 900;
  font-size: 16vw;
  line-height: 12vw;
  color: white;
}

.signature {
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  text-align: center;
  width: 70%;
  color: var(--main-yellow);
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

@media only screen and (max-width: 600px) {
  p {
    margin: 0;
  }
  .wholePage {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .headerBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem 2rem 1rem 2rem;
  }
  .mobileMenu {
    margin-left: auto;
    display: none;
  }
  .mobileNavContainer {
    display: none;
  }
  .logo {
    left: 0;
  }
  .navItems {
    display: none;
  }
  .heroSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 2rem;
    -ms-flex-preferred-size: 1;
        flex-basis: 1;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .heroContent {
    width: 100vw;
    margin-bottom: 2rem;
  }
  .heroImg {
    width: 50vw;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .heroImg img {
    width: 100%;
    max-width: 740px;
  }
  .whisper {
    color: var(--light-green);
    width: auto;
  }
  .pageLede {
    font-family: 'Work Sans', sans-serif;
    padding: 0rem 0rem 2rem 0rem;
    margin-left: -3rem;
    font-weight: 900;
    font-size: 30vw;
    line-height: 22vw;
    color: white;
  }
  .signature {
    color: var(--main-yellow);
    width: 80%;
  }
}
/*# sourceMappingURL=styles.css.map */